# Python & Django
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
.env

# Tests & Cache
.pytest_cache/
.coverage
htmlcov/
*.log

# Databases
*.sqlite3-journal

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
